In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [4]:
df_summary = pd.read_csv("datasets/corona_chest_xray/Chest_xray_Corona_dataset_Summary.csv")
df_metadata = pd.read_csv("datasets/corona_chest_xray/Chest_xray_Corona_Metadata.csv")

In [20]:
# df_metadata[df_metadata['Label_2_Virus_category']]
display(df_summary)
# print(df_summary['Image_Count'].sum())

,Unnamed: 0,Label,Label_1_Virus_category,Label_2_Virus_category,Image_Count
0,0,Normal,NaN,NaN,1576
1,1,Pnemonia,Stress-Smoking,ARDS,2
2,2,Pnemonia,Virus,NaN,1493
3,3,Pnemonia,Virus,COVID-19,58
4,4,Pnemonia,Virus,SARS,4
5,5,Pnemonia,bacteria,NaN,2772
6,6,Pnemonia,bacteria,Streptococcus,5

In [35]:
display(df_metadata)
df_metadata[df_metadata['Label_2_Virus_category'] == 'COVID-19']
display(df_metadata['Label_2_Virus_category'].value_counts())
display(df_metadata['Label_1_Virus_category'].value_counts())
display(df_metadata['Label'].value_counts())

,Unnamed: 0,X_ray_image_name,Label,Dataset_type,Label_2_Virus_category,Label_1_Virus_category
0,0,IM-0128-0001.jpeg,Normal,TRAIN,NaN,NaN
1,1,IM-0127-0001.jpeg,Normal,TRAIN,NaN,NaN
2,2,IM-0125-0001.jpeg,Normal,TRAIN,NaN,NaN
3,3,IM-0122-0001.jpeg,Normal,TRAIN,NaN,NaN
4,4,IM-0119-0001.jpeg,Normal,TRAIN,NaN,NaN
...,...,...,...,...,...,...
5905,5928,person1637_virus_2834.jpeg,Pnemonia,TEST,NaN,Virus
5906,5929,person1635_virus_2831.jpeg,Pnemonia,TEST,NaN,Virus
5907,5930,person1634_virus_2830.jpeg,Pnemonia,TEST,NaN,Virus
5908,5931,person1633_virus_2829.jpeg,Pnemonia,TEST,NaN,Virus
5909,5932,person1632_virus_2827.jpeg,Pnemonia,TEST,NaN,Virus

COVID-19         58
Streptococcus     5
SARS              4
ARDS              2
Name: Label_2_Virus_category, dtype: int64

bacteria          2777
Virus             1555
Stress-Smoking       2
Name: Label_1_Virus_category, dtype: int64

Pnemonia    4334
Normal      1576
Name: Label, dtype: int64

In [29]:
display(df_covid)

Empty DataFrame
Columns: [Unnamed: 0, Label, Label_1_Virus_category, Label_2_Virus_category, Image_Count]
Index: []